.nav-link .Nav.Link{
    margin-right: 15px;
    margin-left: 15px;
    text-decoration: none;
}
.awesome{
    color: black;
    background-color: #ededed;
    padding: 10px;
    border-radius: 50%;
}
.awesome:hover{
    background-color: orange;
    color: #ededed;

}